
@{
    ViewData["Title"] = "ChangePasswoed";
}
@using ViewModels;
@model ChangePassword


<div class="all-content-wrapper">
    @using (Html.BeginForm("changepassword", "AdminDashboard"))
    {
        <div class="review-content-section">
            <div class="input-group mg-b-pro-edt">
                @Html.LabelFor(c => c.Password, new { @class = "input-group-addon" })
                @Html.PasswordFor(c => c.Password, new { @class = "form-control", style = "background-color:white;color:black;" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

            </div>
            <div class="input-group mg-b-pro-edt">
                @Html.LabelFor(c => c.ConfirmPassword, new { @class = "input-group-addon" })
                @Html.PasswordFor(c => c.ConfirmPassword, new { @class = "form-control", style = "background-color:white;color:black;" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

            </div>


            <input type="submit" value="Add Category" class="btn btn-success" />

        </div>
    }
</div>