
@using Models;
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Order>;

@{
    ViewData["Title"] = "Shipping";
}

<style>
    .checked {
        color: orange;
    }
</style>

<div class="all-content-wrapper">

    <div class="product-status mg-b-30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-status-wrap">
                        <h4> Shipping</h4>

                        <table>
                            <tr>
                                <th scope="col">User Name</th>
                                <th scope="col">Order Date</th>
                                <th scope="col">Delivery Status</th>
                                <th scope="col">Governmate</th>
                                <th scope="col">Set Location&Status</th>

                            </tr>

                            @foreach (Order order in Model)
                            {
                                <tr>
                                    <td>@order.User.Full_Name</td>
                                    <td>@order.Order_Date</td>
                                    <td>@order.Delivery_Status</td>
                                    <td>@order.Governmate</td>


                                    <td>
                                        @Html.ActionLink("Location&Status", "LocationStatus", new { order.ID }, new { @class = "btn btn-success" })

                                    </td>


                                </tr>
                            }



                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-pagination">

        <ul class="pagination">

            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="@(i == Model.PageNumber ? "page-item active" : "page-item")">
                    <a class="page-link" href="@Url.Action("Shipping", new { p = i })">@i</a>
                </li>

            }

        </ul>
    </div>
</div>

